@{
	ViewData["Title"] = "URL";
}
<div class="text-center">
    <h1 class="display-4">URL. Струкура URL</h1>
</div>
<img class="float-start intro-img" src="/images/URL_structure.jpg" alt="Структура URL" />
<h2>Що таке URL</h2>
<p>
    URL (Uniform Resource Locator) - це адреса, який має будь-який мережевий ресурс і який можна використовувати для роботи в Інтернеті. Така адреса є відправною точкою для візиту на який-небудь сайт і повинен бути спочатку введений в браузері.
</p>
<p>
    URL перенаправляє користувача на потрібну сторінку з її вмістом. Інше ім'я для URL-адреси - інтернет-адреса або веб-адресу.
</p>
<h2>Структура URL</h2>
<p>URL складається з назви веб-сайту та шляху до нього. Шлях показує, де файл або сайт можна знайти на сервері.</p>
<p>Окремі компоненти для URL:</p>
<ul>
    <li>Субдомен (також домен третього рівня): може зробити інтернет-сторінки більш зрозумілими.</li>
    <li>Домен другого рівня: часто це назва сайту</li>
    <li>Домен першого чи верхнього рівня: він часто показує значення або походження інтернет-адреси.</li>
    <li>Шлях: вказує на каталоги веб-сервера. Це означає, що він показує, де саме знаходиться сайт на сервері.</li>
</ul>
<p>
    URL завжди структурований однаково. Він складається з різних компонентів, які стандартизовані в усьому світі. Щоб пояснити ці компоненти більш докладно, потрібно розділити адресу на окремі її сегменти. Ось, наприклад — https://testaddress.ua.
</p>
<p>
    Складові сегменти наявної URL-адреси:
</p>
<ul>
    <li>"https:" — це протокол, використовуваний URL-адресою (в даному випадку HTTPS – захищений протокол передачі гіпертексту)</li>
    <li>"www.testaddress.ua" — це хост чи його ім'я</li>
    <li>"www." — ці три букви (World Wide Web – "всесвітня павутина") означають субдомен</li>
    <li>"testaddress.ua" — це домен або доменне ім'я, яке описує попередній сегмент адреси у списку (субдомен)</li>
    <li>".ua" — означає код країни і домен верхнього рівня</li>
    <li>"/testaddress" — цей текст за косою рискою означає шлях і таким чином перенаправляє користувача до місця на сайті, яке відповідає обраному</li>
</ul>
<p>Термін «https» означає протокол зв'язку і є абревіатурою «захищений протокол передачі гіпертексту». Це також може бути «http», або просто «протокол передачі гіпертексту», який зараз втрачає свої позиції.</p>
<p>Три літери «www» означають World Wide Web. Вони описують субдомен, який знаходиться в порядку під іншим доменом. У згаданому прикладі він буде перебувати під доменом «testaddress». «testaddress» - це фактичне доменне ім'я, яке повинно контролюватися URL-адресою. Це ім'я так само унікальне, як і поштова адреса.</p>
<p>Код країни або домен верхнього рівня знаходиться у кінцевій частині імені домена. У більшості випадків абревіатура відноситься до країни походження веб-сайту. Це буде .ua для України або .eu для Європейського Союзу. Є й інші скорочення, які є галузевими, спеціалізованими або міжнародними.</p>
<p>Між «https.» і «www.» знаходиться номер порту. Як правило, номер порту — «80» і тоді він взагалі не відображається. Якщо номер порту відрізняється в особливих випадках, його можна знайти в URL.</p>